/*.dcu
/*.exe
/*.map
/*.drc
/*.~pa
/*.dll
/FastMM4
/d3d
/Jeddata
/plugins
/__history
/OPENGL.PAS
/dglOpenGL15.pas
/*.dof
/dxtools2.pas
/Jed.identcache
/SHELLOBJ.TXT
/SHELLUTL.PAS
/SHELLOBJ.PAS
/REGSTR.PAS
/dxtools.pas
/MemCheck.pas
/NJed_MemoryManager_EventLog.txt
/notes.txt
